{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Go Struct to Json</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Go Struct to Json</h1>   
{{ end }}