{{ define "Index" }}
  {{ template "Header" }}
    <textarea style="height: 80%; width: 40%">Go Struct here...</textarea>
    <textarea style="height: 80%; width: 40%" readonly>Json result here...</textarea>
  {{ template "Footer" }}
{{ end }}